.view{
  min-width: 700px;
  margin: 10px auto;
  background-color: gray;
  max-width: 1440px;
}
.view header{
  background-color: aliceblue;
}
.line{
  min-height: 30px;
  line-height: 30px;
  position: relative;
  clear: both;
}

.line .line-ch{
  line-height: inherit;
  float: left;
}
.icon{
  width: 10%;
}

.name, .modified, .size{
  width: 30%;
  min-height: 30px;
  text-align: center;
  line-height: 30px;
  font-size: 24px;
  border-right: 0.5px solid darkgray;
}
